/* Neutral palette - Primary color scale for text, backgrounds, and borders */

:root {
	--neutral-1000: #000000;
	--neutral-950: #08080c;
	--neutral-900: #18181b;
	--neutral-850: #1f1f22;
	--neutral-800: #27272a;
	--neutral-750: #303033;
	--neutral-700: #38383b;
	--neutral-650: #414144;
	--neutral-600: #505053;
	--neutral-550: #616164;
	--neutral-500: #6b6b6e;
	--neutral-450: #78787b;
	--neutral-400: #939396;
	--neutral-350: #a1a1a4;
	--neutral-300: #afafb3;
	--neutral-250: #bdbdc0;
	--neutral-200: #cbcbce;
	--neutral-150: #dadade;
	--neutral-100: #e4e4e7;
	--neutral-75: #ebebee;
	--neutral-50: #f3f3f6;
	--neutral-25: #fafafd;
	--neutral-0: #ffffff;

	--seagull-980: #292d32;
	--seagull-960: #5c6068;
	--seagull-940: #4f545d;
	--seagull-920: #595e68;
	--seagull-900: #5d6470;
	--seagull-800: #838e9e;
	--seagull-700: #a0aec2;
	--seagull-600: #b9c8e0;
	--seagull-500: #cfe0fa;
	--seagull-400: #d9e7fb;
	--seagull-300: #e3edfc;
	--seagull-200: #edf3fd;
	--seagull-100: #f6f9fe;
	--seagull-50: #fbfcff;

	--sand-950: #301f18;
	--sand-900: #553c2e;
	--sand-810: #6b6b3d;
	--sand-800: #624531;
	--sand-700: #745334;
	--sand-600: #906d3e;
	--sand-500: #aa884b;
	--sand-400: #b79958;
	--sand-300: #c8b37c;
	--sand-200: #dcd1ac;
	--sand-100: #ede8d4;
	--sand-50: #f8f6ee;

	--zinc-950: #09090b;
	--zinc-900: #18181b;
	--zinc-800: #27272a;
	--zinc-750: #3e3e47;
	--zinc-700: #3f3f46;
	--zinc-650: #575766;
	--zinc-600: #52525b;
	--zinc-500: #71717a;
	--zinc-400: #a1a1aa;
	--zinc-300: #d4d4d8;
	--zinc-200: #e4e4e7;
	--zinc-100: #f4f4f5;
	--zinc-50: #fafafa;
	--stone-950: #0c0a09;
	--stone-900: #1c1917;
	--stone-800: #292524;
	--stone-700: #44403c;
	--stone-600: #57534e;
	--stone-540: #726b6a;
	--stone-520: #78716c;
	--stone-500: #a39999;
	--stone-400: #a8a29e;
	--stone-300: #d6d3d1;
	--stone-200: #e7e5e4;
	--stone-100: #f5f5f4;
	--stone-50: #fafaf9;
	--amber-950: #451a03;
	--amber-900: #78350f;
	--amber-800: #92400e;
	--amber-700: #b45309;
	--amber-650: #cb6221;
	--amber-600: #d97706;
	--amber-500: #f59e0b;
	--amber-400: #fbbf24;
	--amber-300: #fcd34d;
	--amber-200: #fde68a;
	--amber-100: #fef3c7;
	--amber-50: #fffbeb;
	--lime-950: #1a2e05;
	--lime-900: #365314;
	--lime-860: #435824;
	--lime-840: #394c21;
	--lime-820: #4c602d;
	--lime-800: #3f6212;
	--lime-700: #4d7c0f;
	--lime-600: #65a30d;
	--lime-500: #84cc16;
	--lime-400: #a3e635;
	--lime-300: #bef264;
	--lime-200: #d9f99d;
	--lime-100: #ecfccb;
	--lime-50: #f7fee7;
	--teal-950: #042f2e;
	--teal-920: #1f4746;
	--teal-900: #134e4a;
	--teal-850: #21524f;
	--teal-820: #295b56;
	--teal-810: #11565e;
	--teal-800: #115e59;
	--teal-700: #0f766e;
	--teal-600: #0d9488;
	--teal-500: #14b8a6;
	--teal-400: #2dd4bf;
	--teal-300: #5eead4;
	--teal-200: #99f6e4;
	--teal-100: #ccfbf1;
	--teal-50: #f0fdfa;
	--cyan-950: #083344;
	--cyan-930: #163a50;
	--cyan-920: #2c5264;
	--cyan-910: #1f4d63;
	--cyan-900: #164e63;
	--cyan-800: #155e75;
	--cyan-700: #0e7490;
	--cyan-600: #0891b2;
	--cyan-500: #06b6d4;
	--cyan-400: #22d3ee;
	--cyan-300: #67e8f9;
	--cyan-200: #a5f3fc;
	--cyan-100: #cffafe;
	--cyan-50: #ecfeff;
	--sky-950: #082f49;
	--sky-920: #244458;
	--sky-900: #123e61;
	--sky-850: #124f6d;
	--sky-800: #225584;
	--sky-700: #1e6598;
	--sky-600: #1685c1;
	--sky-500: #0ea5e9;
	--sky-400: #37b7ec;
	--sky-300: #74d1f0;
	--sky-200: #8dd9f3;
	--sky-100: #bee9f9;
	--sky-50: #f0f9ff;
	--blue-980: #172554;
	--blue-950: #263964;
	--blue-900: #1e3a8a;
	--blue-800: #1e40af;
	--blue-700: #1d4ed8;
	--blue-600: #2563eb;
	--blue-500: #3b82f6;
	--blue-400: #60a5fa;
	--blue-350: #93c5fd;
	--blue-300: #a8daff;
	--blue-200: #bfdbfe;
	--blue-100: #dbeafe;
	--blue-50: #eff6ff;
	--light-blue-50: #f3faff;
	--light-blue-100: #ddf2ff;
	--light-blue-200: #caeaff;
	--light-blue-300: #b8e1ff;
	--light-blue-400: #a8d8ff;
	--light-blue-500: #9acffc;
	--light-blue-600: #7eaacf;
	--light-blue-700: #6385a1;
	--light-blue-800: #475f74;
	--light-blue-900: #2b3a47;
	--light-blue-950: #0f1519;
	--moonstone-950: #27272a;
	--moonstone-900: #393f4c;
	--moonstone-850: #313c4c;
	--moonstone-800: #4b576f;
	--moonstone-700: #5e6e91;
	--moonstone-600: #7086b4;
	--moonstone-500: #829ed6;
	--moonstone-400: #96aedd;
	--moonstone-300: #aabde3;
	--moonstone-200: #becdea;
	--moonstone-100: #d2dcf0;
	--moonstone-80: #cbd5e1;
	--moonstone-60: #e3e8f0;
	--moonstone-50: #e6ecf7;
	--indigo-950: #1e1b4b;
	--indigo-925: #2b367d;
	--indigo-900: #312e81;
	--indigo-800: #3730a3;
	--indigo-700: #4338ca;
	--indigo-600: #4f46e5;
	--indigo-500: #6366f1;
	--indigo-400: #828aff;
	--indigo-300: #818cf8;
	--indigo-250: #a5b4fc;
	--indigo-200: #c7d2fe;
	--indigo-100: #e0e7ff;
	--indigo-50: #eef2ff;
	--purple-950: #2e1065;
	--purple-920: #391764;
	--purple-910: #43207a;
	--purple-900: #4c1d95;
	--purple-800: #5b21b6;
	--purple-700: #6d28d9;
	--purple-600: #7c3aed;
	--purple-500: #8b5cf6;
	--purple-400: #a78bfa;
	--purple-300: #c4b5fd;
	--purple-200: #ddd6fe;
	--purple-100: #ede9fe;
	--purple-50: #f5f3ff;
	--violet-960: #32263e;
	--violet-950: #3b0764;
	--violet-900: #581c87;
	--violet-800: #6b21a8;
	--violet-750: #6d459b;
	--violet-700: #7e22ce;
	--violet-600: #9333ea;
	--violet-550: #8a4ebf;
	--violet-500: #a855f7;
	--violet-400: #c084fc;
	--violet-350: #bb8cf8;
	--violet-320: #d7b1fd;
	--violet-300: #d8b4fe;
	--violet-200: #e9d5ff;
	--violet-100: #f3e8ff;
	--violet-50: #faf5ff;
	--fuchsia-950: #4a044e;
	--fuchsia-930: #55265c;
	--fuchsia-920: #5c3065;
	--fuchsia-910: #653d6b;
	--fuchsia-900: #701a75;
	--fuchsia-800: #86198f;
	--fuchsia-700: #a21caf;
	--fuchsia-600: #c026d3;
	--fuchsia-500: #d946ef;
	--fuchsia-400: #e879f9;
	--fuchsia-300: #f0abfc;
	--fuchsia-200: #f5d0fe;
	--fuchsia-100: #fae8ff;
	--fuchsia-50: #fdf4ff;
	--emerald-950: #092a1d;
	--emerald-900: #124a34;
	--emerald-800: #1d684b;
	--emerald-700: #298461;
	--emerald-600: #389e77;
	--emerald-500: #48b78c;
	--emerald-400: #6bc2a0;
	--emerald-300: #8dceb5;
	--emerald-200: #aedbc9;
	--emerald-100: #cee8de;
	--emerald-50: #eef7f3;
	--pink-950: #500724;
	--pink-940: #5d2741;
	--pink-930: #62314b;
	--pink-920: #5a334a;
	--pink-910: #643d54;
	--pink-900: #831843;
	--pink-800: #9d174d;
	--pink-700: #be185d;
	--pink-600: #db2777;
	--pink-500: #ec4899;
	--pink-400: #f472b6;
	--pink-300: #f9a8d4;
	--pink-200: #fbcfe8;
	--pink-100: #fce7f3;
	--pink-50: #fdf2f8;
	--red-970: #201417;
	--red-950: #321719;
	--red-900: #521f23;
	--red-850: #662025;
	--red-800: #7e252a;
	--red-750: #85252d;
	--red-700: #992b34;
	--red-650: #b82832;
	--red-600: #e33238;
	--red-550: #ff3d44;
	--red-500: #ff5e62;
	--red-400: #ff7679;
	--red-300: #ff8f92;
	--red-200: #ffabad;
	--red-100: #ffc9ca;
	--red-50: #ffe9e9;

	--yellow-950: #261f15;
	--yellow-900: #594004;
	--yellow-800: #996b00;
	--yellow-700: #cc9c00;
	--yellow-600: #ffdb38;
	--yellow-500: #ffe54f;
	--yellow-400: #ffed68;
	--yellow-300: #fff484;
	--yellow-200: #fff9a2;
	--yellow-100: #fffdc3;
	--yellow-50: #ffffe6;
}

.light {
	/* Darker yellow with a more red in light mode for better readability */
	--yellow-950: #422006;
	--yellow-900: #713f12;
	--yellow-800: #854d0e;
	--yellow-700: #a16207;
	--yellow-600: #ca8a04;
	--yellow-500: #eab308;
	--yellow-400: #facc15;
	--yellow-300: #fde047;
	--yellow-200: #fef08a;
	--yellow-100: #fef9c3;
	--yellow-50: #fefce8;
}
